{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <title>Document</title>
</head>
<body>
    {{ template "nav" }}
    <h1>Home page !</h1>
    {{ range . }}
        <h1>{{ .Title }}</h1>
        <p>{{ .Text }}</p>
        <em>{{ .Author }}</em>
        <em>{{ .Date }}</em>
    {{ end }}
    {{ template "footer" }}
    <!-- <script src="static/js/main.js"></script> -->
</body>
</html>
{{ end }}